.logo {
  display: inline-block;
  aspect-ratio: 1024 / 222;
  width: 12rem;
  background-color: currentColor;
  -webkit-mask: var(--logo) no-repeat center / contain;
  mask: var(--logo) no-repeat center / contain;
}
